body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0d0d0d;
  color: #fff;
}

.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px 20px;
  background: #000;
  border-bottom: 2px solid #c59d5f;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 3px;
}

header p {
  color: #c59d5f;
  margin-top: 5px;
}

header img {
  width: 200px;   /* make it small */
  height: auto;  /* keeps proportions */
}

#Home img {
  width: 300px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
  background: #1a1a1a;
}

.tabs button {
  background: none;
  border: none;
  color: #fff;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.tabs button:hover {
  color: #c59d5f;
}

.tabs button.active {
  border-bottom: 2px solid #c59d5f;
  color: #c59d5f;
}

/* CONTENT */
.tab-content {
  display: none;
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.tab-content.active {
  display: block;
}

/* BUTTON (used for booking) */
.btn {
  display: inline-block;
  background: #c59d5f;
  color: #000;
  padding: 12px 20px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
}
